<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Upload:</strong>
  <%= webformat = @video.videofile.to_s.byteslice(0..-5) +".webm" %>
</p>

<div id="name">
    <%= video_player src: { mp4: "#{@video.videofile}",  webm:  }, controls: true %>
</div>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
